.banner {
  --banner__text-color: var(--color-secondary);
  
  $self: &;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  &__intro {
      display: flex;
    &-text-top {
      flex-direction: column-reverse;
    }
    &-text-bottom {
      flex-direction: column;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 2;
    &-asset {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }

  &__video {
    display: flex;
    flex-direction: column;
    order: 2;
    &-asset {
      height: 500px;
      object-fit: cover;
      width: 100%;
      opacity: 0.6;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--banner__text-color, var(--color-primary));
    font-size: var(--banner__text-font-size, var(--space-xl));
    order: 1;
  }

  &__text-normal {
    #{ $self }__text {
      font-size: var(--banner__text-font-size, var(--space-xl));
    }
  }

  &__text-large {
    #{ $self }__text {
      font-size: 3rem;
    }
  }

  &__text-distribution-over {
    #{ $self }__text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__text-distribution-top {
    #{ $self }__text {
      order: 1;
    }
    #{ $self }__image,
    #{ $self }__video {
      order: 2;
    }
  }

  &__text-distribution-bottom {
    #{ $self }__text {
      order: 2;
    }
    #{ $self }__image,
    #{ $self }__video {
      order: 1;
    }
  }

  &__text-horizontal-left {
    #{ $self }__text {
      align-items: flex-start;
    }
  }

  &__text-horizontal-center {
    #{ $self }__text {
      align-items: center;
    }
  }

  &__text-horizontal-right {
    #{ $self }__text {
      align-items: flex-end;
    }
  }

  &__text-vertical-top {
    #{ $self }__text {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__text-vertical-bottom {
    #{ $self }__text {
      flex-direction: row;
      align-items: flex-end;
    }
  }
}

.photo-splash {
  &__title {
    text-align: center;
    margin: 2rem 0;
  }
  &__wrapper {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 5px;
    };
    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      border-radius: 20px;
      outline: none;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px rgb(0 0 0 / 30%);
      border-radius: 20px;
    }
    &__item{
      margin: 0 10px 10px;
      &-image {
        border-radius: 25px;
        object-fit: cover;
      }
    }
  }
}
